<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WELCOME TO RAMEN EMPIRE</title>
  <!-- Disable viewport zooming -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Links and scripts for Semantic UI -->
  <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" `
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="semantic/semantic.min.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="/styles/landing-style.css" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- External JS -->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/accordion.js"></script>
  <!-- JS links -->
  <script text="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <div class="headerTop">
      <div class="wrapper">
        <img src="../images/ramen-empire.png">
        <a class="logo" href="/">RAMEN EMPIRE</a>
        <nav>
          <ul class="headerNav">
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- <div id='scrollToMenu'>
      <img src='../images/kitchen2.jpeg'>
    </div> -->
  </header>
  <main>
    <section class="menu">
      <div class="wrapper">
        <h1>MENU</h1>
        <div class="menu-item">
          <div class="menu-selection">
            <form id="menu-container" class="quantity ui form">
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>
  <form class="calculator ui form" method="POST" action="/api/order">
    <h4 class="ui dividing header">Order Summary</h4>

    <div class="new-item"></div>
    <div class="pre-tax"></div>
    <div class="tax-amount"></div>
    <div class="total-price"></div>
    <button id="submit-order" class="checkout ui blue button" tabindex="0">Submit Order</button>
  </form>

  <footer>
    <div class="wrapper">
      <p class="copyright">&copy; 2020 RAMEN EMPIRE</p>
      <div class="social">
        <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
        <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
        <a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
        <a href="http://www.plus.google.com"><i class="fab fa-google-plus-g"></i></a>
      </div>
    </div>
  </footer>
</body>
</html>
