<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>RAMEN EMPIRE - PAYMENT</title>
    <!-- Disable viewport zooming -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Links and scripts for Semantic UI -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../semantic/dist/semantic.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      `
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="semantic/dist/semantic.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/payment-style.css" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <!-- JS links -->
    <script type="text/javascript" src="./scripts/payment.js"></script>
  </head>
  <body>
  <header>
    <div class="headerTop">
      <div class="wrapper">
        <img src="../images/ramen-empire.png">
        <a class="logo" href="/">RAMEN EMPIRE</a>
        <nav>
          <ul class="headerNav">
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- <div id='scrollToMenu'>
        <img src='../images/kitchen2.jpeg'>
      </div> -->
  </header>
    <main>
      <section class="payment-details">
        <div class="wrapper">
          <form class="ui form" method="POST" action="/api/twilio">
            <h2>You're almost there!</h2>
            <br>
            <h3>We just need your information and payment details!</h3>
            <div class="box">
              <h4 class="ui dividing header">Customer Information</h4>
              <div class="field">
                <label>Name</label>
                <div class="two fields">
                  <div class="field">
                    <input
                      id="first-name"
                      type="text"
                      name="shipping[first-name]"
                      placeholder="First Name"
                    />
                  </div>
                  <div class="field">
                    <input
                      id="last-name"
                      type="text"
                      name="shipping[last-name]"
                      placeholder="Last Name"
                    />
                  </div>
                </div>
                <div class="field">
                  <label>Address</label>
                  <input
                    id="address"
                    type="text"
                    name="address"
                    placeholder="Ex. 123 Fake Street"
                  />
                </div>
              </div>
              <div class="field">
                <label>Phone Number</label>
                <input
                  id="phone-form"
                  type="text"
                  name="phone-number"
                  placeholder="Phone Number"
                />
              </div>
            </div>
            <div class="box">
              <h4 class="ui dividing header">Billing Information</h4>
              <div class="field">
                <label>Credit Card Type</label>
                <div class="field">
                  <select class="ui fluid search dropdown" name="card[type]">
                  <option value="">Credit Card Type</option>
                  <option value="1">Visa</option>
                  <option value="2">Mastercard</option>
                  <option value="3">American Express</option>
                  </select>
                </div>
              </div>
              <div class="fields">
                <div class="seven wide field">
                  <label>Credit Card Number</label>
                  <input
                    id="card-number"
                    type="text"
                    name="card[number]"
                    maxlength="16"
                    placeholder="Credit Card #"
                  />
                </div>
              <div class="three wide field">
                <label>CVC</label>
                <input
                  id="cvc"
                  type="text"
                  name="card[cvc]"
                  maxlength="3"
                  placeholder="CVC"
                />
              </div>
              <div class="six wide field">
                <label>Expiration</label>
                <div class="two fields">
                  <div class="field">
                    <select
                      class="ui fluid search dropdown"
                      name="card[expire-month]"
                    >
                      <option value="">Month</option>
                      <option value="1">January</option>
                      <option value="2">February</option>
                      <option value="3">March</option>
                      <option value="4">April</option>
                      <option value="5">May</option>
                      <option value="6">June</option>
                      <option value="7">July</option>
                      <option value="8">August</option>
                      <option value="9">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                  </div>
                  <div class="field">
                    <input
                      id="card-date"
                      type="text"
                      name="card[expire-year]"
                      maxlength="4"
                      placeholder="Year"
                    />
                  </div>
                </div>
              </div>
            </div>
            <button id="submit-button" class="ui button" tabindex="0">
              Submit Order
            </button>
            </div>
          </form>
          <form id = "order-summary">
            <article id=order>
              <h2>Order Summary</h2>
              <br>
              <br>
            </article>
            <article id=payment>
            </article>
          </form>
        </div>
      </section>
    </main>
    <footer>
      <div class="wrapper">
        <p class="copyright">&copy; 2020 FRIED CHICKEN RESTAURANT</p>
        <div class="social">
          <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
          <a href="http://www.instagram.com"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="http://www.facebook.com"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="http://www.plus.google.com"
            ><i class="fab fa-google-plus-g"></i
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>
