html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 40px;
	margin: 0;
}

h1, h2, h3, ul.headerNav li, .menu-item {
	text-align: center;
}

h2 {
  color: white;
}

h3 {
	letter-spacing: 1px;
}

p {
	line-height: 1.5em;
	padding: 5px 0;
}

p, .blog a, .menu-item a {
	font-size: 16px;
}

a {
	text-transform: uppercase;
}

a, .logo, .copyright {
	font-weight: 700;
}

a, .logo {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.wrapper {
	margin: 0 auto;
	max-width: 1280px;
	width: 80%;
}

.headerTop {
  background-color: #2d2d2d;
  padding: 20px 0;
}

.headerTop .wrapper, footer .wrapper {
  display: flex;
	justify-content: space-between;
}

ul.headerNav li, footer {
	align-items: center;
}

.logo, ul.headerNav, ul.headerNav li {
	display: flex;
	flex: 1 0 auto;
}

.logo {
	font-size: 30px;
}

.logo, ul.headerNav li a {
	color: white;
}

.logo, .copyright {
	letter-spacing: 2px;
}

ul.headerNav li {
	justify-content: center;
	padding: 0 0 0 25px;
}

ul.headerNav li a {
	font-size: 16px;
}

ul.headerNav li a:hover {
  color: #4183c4
}

.menu {
  background-image: url(../images/fried-chicken.jpg);
  background-size: cover;
  padding-top: 50px;
}

.menu h1 {
  color: white;
  padding-bottom: 50px;
}

.menu .wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menu-item {
  align-items: center;
  background-color: rgba(255,255,255,0.5);
  border: black solid 1px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;
  padding: 25px;
  width: 30%;
}

.menu-selection {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.item-image {
  margin-bottom: 25px;
}

.item-image img {
  border: black solid 1px;
}

.quantity {
  background: white;
  border: black solid 1px;
  border-radius: 25px;
  padding: 12.5px;
  /* width: 100%; */
}

.item-description {
  align-items: center;
  background: white;
  border: black solid 1px;
  border-radius: 25px;
	display: flex;
  flex-direction: column;
  height: 75px;
  justify-content: center;
  margin-left: 25px;
  padding: 25px;
}

.item-description h3, .item-description h4 {
  margin: 0;
}

.calculator.ui.form {
  align-items: center;
  background-color: rgba(100,149,237, 0.7);
  border: black solid 1px;
  border-radius: 25px;
  bottom: 79px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  position: fixed;
  right: 25px;
  width: 300px;
}

footer {
  background-color: #2d2d2d;
	padding: 10px 0;
}

footer, .social a {
	color: white;
}

.copyright {
  margin: 0;
}

.social {
  align-items: center;
  display: flex;
  justify-content: center;
}

.social i {
	padding: 5px 5px;
}

.social a:hover {
	color: #4183c4
}
