html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

#calculator {
	width: 400px;
	text-align: center;
	padding: 5px;
	margin-bottom: 25px;
	border: black solid 1px;
	background-color: white;
	border-radius: 20px;
	position: relative;
}

.order {
	width: 300px;
	text-align: center;
	padding: 5px;
	margin-bottom: 25px;
	border: black solid 1px;
	background-color: white;
	border-radius: 20px;
	position: relative;
}

.firstinfo, .secondinfo {
	width: 300px;
	text-align: center;
	padding: 5px;
	border: black solid 1px;
	background-color: white;
	border-radius: 20px;
	position: relative;
	margin-left: 25px;
}

.firstinfo {
	margin-bottom: 25px;
}

#info {
	padding-top: 25px;
}

#checkout {
	position: absolute;
	left: 0;
	bottom: 15px;
}

.related {
	padding: 35px 0 45px;
}

.wrapper {
	margin: 0 auto;
	max-width: 1280px;
	width: 80%;
}
.wrapper2 {
	margin: 0 auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.wrapperConfirm {
	padding-top: 25px;
	margin: 0 auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.paybox {
	display: flex;
	flex-direction: column;
	/* width: 300px; */
	text-align: center;
	padding: 5px;
	margin-bottom: 25px;
	border: black solid 1px;
	background-color: white;
	border-radius: 20px;
}


form {
	width: 300px;
	background-color: cornflowerblue;
	padding: 30px 30px 22px;
	border-radius: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
/* /////////////////////////////////////////// */

.rant {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.relatedPost {
			display: flex;
		flex-direction: row;
}

.relatedPost .pic a {
	padding-bottom: 10px;
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 40px;
	margin: 0;
}

h1, h2, h3, ul.headerNav li, .relatedPost {
	text-align: center;
}

h3 {
	letter-spacing: 1px;
}

p {
	line-height: 1.5em;
	padding: 5px 0;
}

p, .blog a, .relatedPost a {
	font-size: 16px;
}

a {
	text-transform: uppercase;
}

a, .logo, .copyright {
	font-weight: 700;
}

a, .logo {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.wrapper {
	margin: 0 auto;
	max-width: 1280px;
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.headerTop {
	background-color: darkcyan;
}

.related {
	background-image: url(../assets/gravy.jpeg);
	background-size: cover;
}

.headerTop, footer {
	padding: 10px 0;
}

.headerTop .wrapper, ul.headerNav li, footer {
	align-items: center;
}

.logo, ul.headerNav, ul.headerNav li {
	display: flex;
	flex: 1 0 auto;
}

.logo {
	font-size: 30px;
}

.logo, ul.headerNav li a {
	color: black;
}

.logo, .copyright {
	letter-spacing: 2px;
}

ul.headerNav li {
	justify-content: center;
	padding: 0 0 0 25px;
}

ul.headerNav li a {
	font-size: 16px;
}

ul.headerNav li a:hover {
	text-shadow: 1px 1px 0 black;
}

.relatedPost p {
	padding: 5px 25px;
}

.relatedPost p {
	text-align: left;
}

.relatedPost a:hover {
	background-color: #ed145b;
	border-radius: 15px;
	padding: 5px 10px;
}

.relatedPost a:hover, footer, .social a {
	color: white;
}

img {
	padding: 25px 0;
}

.related h2 {
	padding-bottom: 25px;
}

.related {
	background-color: #ececec;
}

.pic {
	padding-bottom: 25px;
	background-color: cornflowerblue;
}

.relatedPost {
	background: white;
	width: 500px;
}

.relatedPost a {
	color: #ed145b;
}

footer {
	background-color: #2d2d2d;
}

.social i {
	padding: 5px 5px;
}

.social a:hover {
	color: cadetblue;
}



